body {
	background: lightblue;
	margin: 0;
	padding: 0;
}	
.container {
	display: grid;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	grid-template-columns: 27% 73%;
	grid-template-rows: 100%;
}
.header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: flex;
	flex-direction: column;
	background: #b5d0db;
}
.text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 25%;
	color: white;
	font-size: ;
	font-weight: bold;
}
.owal {
	width: 100%;
	height: 75%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.oval2 {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 60%;
	height: 210px;
	margin-top: -100px;
	border-radius: 50%;
	background: #d2e4e4;
	background: url(..//img/fotoinst.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.p1 {
	font-weight: bold;
	font-size: 28pt;
	color: white;
	text-align: center;
}
.p2 {
	font-weight: bold;
	font-size: 18pt;
	color: white;
	margin-top: -25px;
	text-align: center;	
}

.contact {
	background: #ffffff;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 55% 45%;
	grid-template-rows: 75px 65px 325px 200px;
}
.meny {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	flex-direction: row;
	display: flex; 
	align-items: center;
	font-size: 13pt;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: black;
	justify-content: space-around;
}
.icon {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.about_me {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: center;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.about {
	width: 20%;
	height: 70%;
	background: #ffcd38;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 18pt;
	font-weight: bold;
}
.p6 {
	margin-left: 40px; 
}
.p3 {
	font-weight: bold;
	font-size: 11pt;
	color: grey;
	margin-left: 10px;
}
.p4 {
	color: black;
	font-size: 14pt;
	font-weight: bold;
	margin: 20px;
	margin-left: 30px;
	margin-top: 30px;
}
.p5 {
	font-weight: bold;
	font-size: 16px;
	margin-top: -5px;
	margin-left: 30px;
	color: grey;
	width: 90%;
}
.img1 {
	display: flex;
	width: 20px;
	height: 20px; 
}
:root {
  --mainColor: #ff9800;
}
.a {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.a:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}
.text_contact {
	display: grid;
	grid-column: 1 /;
	grid-row: 3 / 4;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px 300px;
}
.p10 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	align-items: center;
	display: flex;
	font-family: 'Montserrat' sans-serif;
	font-size: 13.5pt;
	font-weight: bold;
	color: black;
}
.p11 {
	margin-left: 20px;
}
.text_contact_text {
	display: grid;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	grid-template-columns: 100%;
	grid-template-rows: 65px 53px 53px 53px 53px 53px;
}
.text_lorem {
	display: flex;
	font-family: 'Montserrat' sans-serif;
	font-size: 11pt;
	color: grey;
	align-items: center;
	grid-column: 1 / 3;
	grid-row: 1 /2;
	font-weight: bold;
}
.p12 {
	width: 95%;
	margin-left: 20px;
}
.div10 {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}
.img_text {
	margin-left: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	display: flex;
}
.img-t {
	width: 35px;
	height: 35px;
}
.div11 {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.p15 {
	font-size: 11pt;
	font-weight: bold;
	font-family: 'Montserrat' sans-serif;
	color: black;
	display: flex;
	align-items: center;
	grid-column: 4 / 5;
	grid-row: 1/2;
	margin-left: 10px;
}
.p16 {
	font-weight: bold;
	font-size: 10pt;
	font-family: 'Montserrat' sans-serif;
	color: #363636;
} 
.div12 {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}
.p15 {
	font-size: 11pt;
	font-weight: bold;
	font-family: 'Montserrat' sans-serif;
	color: black;
	grid-column: 4 / 5;
	grid-row: 1/2;
}
.div13 {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}
.p15 {
	font-size: 11pt;
	font-weight: bold;
	font-family: 'Montserrat' sans-serif;
	color: black;
	grid-column: 4 / 5;
	grid-row: 1/2;
}

.text_form {
	display: grid;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px 300px;
}
.textl_text {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	font-family: 'Montserrat'sans-serif;
	font-size: 13.5pt;
	font-weight: bold;
	color: black;
	align-items: center;
	display: flex;
}
.ppp {
	margin-left: 20px;
}
.container_form {
	display: grid;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
#text_form {
	margin-left: 30px;
	width: 390px;
	margin-top: 10px;
	height: 25px;
	font-size: 8pt;
	border-radius: 5px;
	border:1px solid lightgrey;
	font-weight: bold;
	color: black;
	padding: 10px;
}
#text_message {
	width: 390px;
	padding: 10px;
	height: 75px;
	border:1px solid lightgrey;
	font-weight: bold;
	font-size: 11pt;
	font-family: 'Montserrat' sans-serif;
	color: black;
	margin-left: 30px;
	border-radius: 5px;
}
#id_button {
	border:2px solid orange;
	width: 125px;
	height: 35px;
	margin-left: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.id_p {
	font-size: 10pt;
	font-family: 'Montserrat' sans-serif;
	margin: 0 auto;
	font-weight: bold;
	color: black;
}
